/* Extra small devices (phones, 600px and down) */
@media only screen and (min-width: 392px) and (max-width: 488px) {
    .company-profile-box-text{
        margin-left: 1rem;
        margin-right: 1rem;

    }
  }
@media only screen and (min-width: 488px) and (max-width: 507px) {
    .company-profile-box-text{
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
  }

@media only screen and (min-width: 507px) and (max-width: 511px) {
    .company-profile-box-text{
        margin-left: 1.3rem;
        margin-right: 1.4rem;
    }
  }

@media only screen and (max-width: 600px) {
    .container-company-profile{
        margin: auto;
    }

    .company-profile-box {
        margin: auto;
        background-color: #C62828;
        border-radius: 2rem;
        box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
        margin: 3rem 2rem 1rem 2rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
    }
    .company-profile-list{
        background-color: #C62828;
        border-radius: 2rem;
        display: flex;
    }
    .company-profile-box-text{
        color:white;
        font-size: 15px;
    }
    .company-profile-box-text:hover{
        color:white;
    }
    .company-profile-box-text:focus{
        color:white;
        text-decoration: underline;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .company-profile-box {
        background-color: #C62828;
        border-radius: 2rem;
        box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
        margin: 3rem;
        display: flex;
        justify-content: center;
        flex-direction: row;
        flex-grow: 0;
        flex-shrink: 1;
        flex-basis: auto;
    }
    .company-profile-list{
        background-color: #C62828;
        border-radius: 2rem;
        display: flex;
    }
    .company-profile-box-text{
        color:white;
        font-size: 17px;
        margin-bottom: 1rem;
    }
    .company-profile-box-text:hover{
        color:white;
    }
    .company-profile-box-text:focus{
        color:white;
        text-decoration: underline;
    }

    .title-acount-company{
        text-align: center;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .company-profile-box {
        background-color: #C62828;
        border-radius: 2rem;
        box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
        height: 20rem;
        width: auto;
        margin: 6rem 3rem 3rem 3rem;
    }
    .company-profile-list{
        background-color: #C62828;
        border-radius: 2rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        text-align: left;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}