/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu_container_page{
        background-color: #FBFBFB;
        border-radius: 2.5rem;
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .page_company_img {
        width: 100%;
        height: 100px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        margin-left: 0.5rem;
        object-fit: cover;
    }
    .menu_text_page{
        margin: 1rem 2rem 1rem 2rem;
    }
    .menu_price_page{
        margin-left: 0.5rem;
    }
    .menu_description_page{
        color: gray;
        margin-left: 0.5rem;
    }
    .menu_icono{
        position:absolute;
        right:1rem;
        border: none;
        background-color: transparent;
        cursor: default;
    }
    .no-hay-productos-text{
        color:#C62828;
        margin:5rem;
        text-align: center;
        background-color: transparent;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .no-hay-productos-text{
        color:#C62828;
        margin:5rem;
        text-align: center;
        background-color: transparent;
    }
    .menu_container_page{
        background-color: #FBFBFB;
        border-radius: 2.5rem;
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .page_company_img {
        width: 100%;
        height: 100px;
        margin-top: 1rem;
        margin-left: 0.5rem;
        object-fit: cover;
    }
    .menu_text_page{
        margin: 1rem 2rem 1rem 2rem;
    }
    .menu_price_page{
        margin-left: 0.5rem;
    }
    .menu_description_page{
        color: gray;
        margin-left: 0.5rem;
    }
    .menu_icono{
        position:absolute;
        right:1rem;
        border: none;
        background-color: transparent;
        cursor: default;
    }
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .menu-title-company{
        margin-top: 2rem;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
}