  /* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .cover-image{
    width: 100%; 
    height: 300px;
    background-size: cover;
    background-position: center;
}
.portada-container {
    position: relative;
  }
.card-overlay {
    position: absolute; 
    height: auto;
    width: 20rem;
    margin: 1rem 4rem 1rem 4rem;
    transform: translate(-15%, 20%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9); /* Color de fondo con opacidad */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem; 
  }
  .text-card-company-page-navbar{
    background-color: transparent;
    color: #080808; /* Color de texto */
    text-align: center;
  }
  .card-text-company-page-direction{
    color:#7A7676;
    font-size: 12px;
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .rating {
    font-size: 24px; /* Tamaño de las estrellas */
    color: #c8c8c8; /* Color de las estrellas no seleccionadas */
  }
  
  .star {
    display: inline-block;
    width: 1em; /* Tamaño de cada estrella */
    height: 1em; /* Tamaño de cada estrella */
    margin-right: 0.25em; /* Espacio entre las estrellas */
    background-color: transparent;
    position: relative;
  }
  
  .star:before {
    content: '\2605'; /* Código unicode de la estrella (★) */
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .star.filled:before {
    color: #ffc107; /* Color de la estrella rellena */
  }
  
  .star.half-filled:before {
    color: #ffc107; /* Color de la mitad de la estrella rellena */
    mask: linear-gradient(to right, transparent 50%, #ffc107 50%);
  }
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .cover-image{
    width: 100%; 
    height: 300px;
    background-size: cover;
    background-position: center;
}
.portada-container {
    position: relative;
  }
.card-overlay { /*Tamaño caja*/
    position: absolute; 
    height: auto;
    width: 25rem;
    margin: 1rem 13rem 1rem 13rem;
    transform: translate(-45%, 30%);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.9); /* Color de fondo con opacidad */
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem; 
  }
  .text-card-company-page-navbar{
    background-color: transparent;
    color: #080808; /* Color de texto */
    text-align: center;
  }
  .card-text-company-page-direction{
    color:#7A7676;
    font-size:12px;
  }
  .rating {
    font-size: 24px; /* Tamaño de las estrellas */
    color: #c8c8c8; /* Color de las estrellas no seleccionadas */
  }
  
  .star {
    display: inline-block;
    width: 1em; /* Tamaño de cada estrella */
    height: 1em; /* Tamaño de cada estrella */
    margin-right: 0.25em; /* Espacio entre las estrellas */
    background-color: transparent;
    position: relative;
  }
  
  .star:before {
    content: '\2605'; /* Código unicode de la estrella (★) */
    position: absolute;
    left: 0;
    top: 0;
  }
  
  .star.filled:before {
    color: #ffc107; /* Color de la estrella rellena */
  }
  
  .star.half-filled:before {
    color: #ffc107; /* Color de la mitad de la estrella rellena */
    mask: linear-gradient(to right, transparent 50%, #ffc107 50%);
  }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .card-text-company-page-direction{
    font-size:15px ;
  }
  .card-overlay {
    transform: translate(-50%, 30%); 
    margin: 1rem 15rem 0rem 15rem;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .card-overlay {
    transform: translate(-70%, 30%); 
    margin: 1rem 20rem 0rem 20rem;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .card-overlay {
    transform: translate(-70%, 30%); 
    margin: 1rem 20rem 0rem 20rem;
  }
}