/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .menu_container_page{
        background-color: #FBFBFB;
        border-radius: 2.5rem;
        margin: 1rem 2rem 1rem 2rem;
        padding: auto;
        box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    }
    .menu_imgbox{
        height: 4rem;
    }
    .menu_text_page{
        margin: auto;
    }
    .menu_price_page{
        margin-left: 0.5rem;
    }
    .menu_description_page{
        color: gray;
        margin-left: 0.5rem;
    }

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .menu_container_page{
        background-color: #FBFBFB;
        border-radius: 2.5rem;
        margin: 2rem;
        box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    }
    .menu_imgbox{
        height: 4rem;
    }
    .menu_text_page{
        margin: 0rem 2rem 0rem 2rem;
    }
    .menu_price_page{
        margin-left: 0.5rem;
    }
    .menu_description_page{
        color: gray;
        margin-left: 0.5rem;
    }
    .menu_icono{
        border: none;
        background-color: transparent;
        cursor: default;
        padding: 0;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .menu_container_page{
        margin-left: 9rem;
    }
}