/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .footer_container {
    margin-top: auto;
    padding-top: 3rem;
    width: 100%;
    height: 100%;
    background-color: #FFC3C3;
  }

  .footer_row{
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  }

  .footer_col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #FFC3C3;
  }
  .footer_logo{
  display: flex;
  justify-content: center;
  }
  .footer_logo_btn{
  border-radius: 1rem;
  }
  .footer_col1_text{
  text-align: center;
  font-weight: bold;
  }
  .footer_social{
  display: flex;
  justify-content: center;
  color: #C62828;
  }
  /*       ------------------ new column*/
  .footer_store{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  }
  .footer_store_btn{
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 10rem;
  }
  .footer_appstore{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  }


  /*------------------ info column*/
  .footer_infotext_container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 1.2rem;
  }

  .footer_infotext{
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  }
  .footer_infosubtext{
  font-style: italic;
  text-align: center;
  line-height: 2rem;
  
  }
  
  .footer_languaje{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  }
  .footer_languaje_text{
  font-weight:600;
  }


  .fa-apple{
    align-self:center;
    font-size: 40px;
    padding-bottom: 5px;
  }
  .fa-google-play{
    font-size: 30px;
  }

  .footer_appstore_text{
    font-size: 0.7rem;
    text-align: left;
  }

  .footer_appstore_text1{
    font-size: 1rem;
  }
 .footer_google-play_text{
    font-size: 0.75rem;
    text-align: left;
 }
 .footer_google-play_text1{
  font-size: 1rem;
}
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .footer_container {
    margin-top: auto;
    padding-top: 3rem;
    width: 100%;
    background-color: #FFC3C3;
    height: 100%;
  }

  .footer_row{
  display: flex;
  justify-content: space-evenly;
  background-color: #FFC3C3;
  height: 100%;
  width: 100%;
  }

  .footer_col{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  background-color: #FFC3C3;
  }
  .footer_logo{
  display: flex;
  justify-content: center;
  }
  .footer_logo_btn{
  border-radius: 1rem;
  }
  .footer_col1_text{
  text-align: center;
  font-weight: bold;
  }
  .footer_social{
  display: flex;
  justify-content: center;
  color: #C62828;
  }
  /*       ------------------ new column*/
  .footer_store{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .footer_store_btn{
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 4rem;
  width: 10rem;
  }
  .footer_appstore{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  }


  /*------------------ info column*/
  .footer_infotext_container{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  }

  .footer_infotext{
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  }

  .footer_infosubtext{
  font-style: italic;
  text-align: center;
  line-height: 2rem;
  
  }
  
  .footer_languaje{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  }
  .footer_languaje_text{
  font-weight:600;
  }



  
  .footer_appstore_text{
    font-size: 0.7rem;
    text-align: left;
  }

  .footer_appstore_text1{
    font-size: 1rem;
  }
 .footer_google-play_text{
    font-size: 0.75rem;
    text-align: left;
 }
 .footer_google-play_text1{
  font-size: 1rem;
}

  .fa-apple{
    align-self:center;
    font-size: 40px;
    padding-bottom: 5px;
  }
  .fa-google-play{
    font-size: 30px;
  }

  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
 
}