/*
    home.css: This website contains selectors only used in home.css

    All pages share the styles on index.css but you should create 
    one more css for each page that will contain the selected used 
    on that page only (the ones not reused in other pages).
*/

/* .home_first_row {
  background-color: #c62828;
  display: flex;
  justify-content: center;
} */


/* .home_title {
  color: #f5f5f5;

}

.home_subtitle {
  font-style: italic;
  color: #f5f5f5;
} */

.home_searchbar {
  background-color: rgb(255, 180, 180);
  border-radius: 2rem;
  width: 54rem;
  height: 3.5rem;
  margin-top: 6rem;
}
.home_searchform {
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  margin-top: 2.2rem;
}
.home_input {
  border-radius: 1rem;
  background-color: rgb(255, 219, 219);
  border-width: 3px;
  border-color: #c62828;
}
.home_searchbtn {
  background-color: f5f5f5;
  border-radius: 4rem;
  display: flex;
  align-items: center;
}

.fa-location-arrow {
  vertical-align: middle;
  color: #c62828;
}
/*---------------------------- white space*/

.home_second_row {
  background-color: transparent;
  display: flex;
  justify-content: center;
}

.home_third_row {
  background-color: transparent;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.home_categories_title{
    
}

/* .home_categoryimg {
  width: 100%;
  height: 100%;
} */

.fondito{
  background-image: url("https://img.freepik.com/foto-gratis/rodajas-frutas-exoticas-saludables_23-2148134847.jpg?w=996&t=st=1689798774~exp=1689799374~hmac=a897d2344fec10513748ee422de4ba92b8f8789b21fe301ff90148585f359a24");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: 100%;
}

.home_categoryimg{
  height: 4rem;
  width: 3rem;
}

.home_categories_row{
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: 0rem;
}

.home_foodbox{
  background-color: transparent;
  width: 4.4rem;
  height: 4rem;
}

.nombreCategoria{
  font-size: 14px;
  font-weight: 400;
}

.home_categoryimg1{
  height: 4rem;
  width: 6rem;
  justify-content: center;
  margin-bottom: 1rem;
  margin-right: -0.5rem;
}

.home_categories_row1{
  justify-content: center;
  align-items: center;
}

.home_foodbox1{
  background-color: rgb(255, 255, 255);
  /* width: 8rem;
  height: 7rem; */
  border-radius: 0.8rem;
  border-color: rgb(223, 223, 223);
  box-shadow:  0px 3px 5px 0px rgb(124, 124, 124);
}

@media only screen and (max-width: 576px){
  .home_searchbar {
    background-color: rgb(255, 180, 180);
    border-radius: 2rem;
    width: 26rem;
    height: 3.5rem;
    margin-top: 1.5rem;
  }
  .home_searchform {
    display: flex;
    justify-content: center;
  }
  .home_input {
    border-radius: 1rem;
    background-color: rgb(255, 219, 219);
    border-width: 3px;
    border-color: #c62828;
  }
  .home_searchbtn {
    background-color: f5f5f5;
    border-radius: 4rem;
    display: flex;
    align-items: center;
  }
  
  .fa-location-arrow {
    vertical-align: middle;
    color: #c62828;
  }

}

@media only screen and (min-width: 420px){
  .home_foodbox1{
    width: 8rem;
    height: 6rem;
  }


}

@media only screen and (min-width: 353px){
  .home_searchbar {
    width: 22rem;
  }
}

@media only screen and (min-width: 550px){
  .home_foodbox1{
    width: 7.7rem;
    height: 6rem;
  }
  
  .home_searchbar {
    width: 25rem;
  }
  
}

@media only screen and (min-width: 576px){
  .home_categoryimg1{
    height: 4rem;
    width: 6.5rem;
    margin-left: -8px;
    justify-content: center;
    margin-bottom: 1rem;
  
  }

  .home_foodbox1{
    width: 7.7rem;
    height: 6rem;
  }

  .home_searchbar {
    width: 30rem;
  }
}

@media only screen and (min-width: 736px){
  .home_searchbar {
    width: 40rem;
  }
}

@media only screen and (min-width: 966px){
  .home_searchbar {
    width: 50rem;
  }
}


