/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
/* Extra small devices (phones, 600px and down) */
.login_page_container{
    background: radial-gradient(at right,#C62828, #FFFFFF);
    background-position: 30%;
    display: flex;
    justify-content: center;
}
.login_all{
    border-radius: 2rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: end;
    
}
.login_logo_container{
    align-items: center;
    justify-content:center;
    border-radius: 2rem;
    background-color: #C62828;
    opacity: 0.92;
    height: 100%;
}
.login_logo{
    transform: rotate(-90deg);
}




.login_submit:hover{
    background-color: #7A7676;
    color: black;
}
@media only screen and (max-width: 600px) {
    .login_all{
        height: 23rem;
        width: 37rem;
    }
    .login_title{
        font-size: 2.3rem;
    }
    .login_subtitle{
        color: #7A7A7A;
        font-size: 0.7rem;
    
    }
    .login_label{
        font-size: 0.8rem;
        color: #494848;
    }
    .login_form_container{
        display: flex;
        flex-direction: column;
        text-align: start;
        padding-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: center;
        
    }
    .login_submit{
    
        
        width: 80%;
        border: none;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        background-color: #C62828;
        border-radius: 0.5rem;

    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .login_all{
        height: 33rem;
        width: 35rem;
    }
    .login_title{
        font-size: 2.8rem;
    }
    .login_subtitle{
        color: #7A7A7A;
        font-size: 0.8rem;
    
    }
    .login_label{
        font-size: 1.2rem;
        color: #494848;
    }
    .login_form_container{
        display: flex;
        flex-direction: column;
        text-align: start;
        justify-content: space-around;
        padding: 3rem;
    }
   
    .login_submit{
    
        display: block;
        width: 100%;
        border: none;
        padding: 14px 28px;
        font-size: 16px;
        cursor: pointer;
        text-align: center;
        background-color: #C62828;
        border-radius: 0.5rem;
        margin-top: 3rem;

    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    /*  Start of Login */
    .login_all{
        height: 35rem;
        width: 42rem;
    }
    .login_title{
        font-size: 3rem;
    }
    .login_subtitle{
        color: #7A7A7A;
        font-size: 1rem;
    
    }
    .login_label{
        font-size: 1.4rem;
        color: #494848;
    }
   

    /*  end of Login */
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}