.navbar{
    background-color: #C62828;
}

.nav_title{
    color: black;
}

.nav_btn{
    background-color: #FFFFFf;
    border-radius: 1rem;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    color: #C62828;
    font-weight: bold;
}