
.form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 17px;
    height: 180px;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }

.rowInput{
    color: #bc2626;
  }

.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
  
}

.cardImage{
 height: 220px;
 width: 100%;
}

/*--------------------------------- beigining of map*/
.map_box{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 30rem;
  
}





/*--------------------------------- end of map*/




@media only screen and (max-width: 576px) {

  .form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 16px;
    height: 70px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }

.rowInput{
    justify-content: center;
  }

.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
  height: 280px;
  width: 300px;
  margin-left: 55px;
  
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
}

.cardImage{
 height: 280px;
 width: 100%;
}
 
.contenedorCards{
  justify-content: center;
  text-align: center;  
}

}


/* Small devices (portrait tablets and large phones, 600px and up) */

@media only screen and (min-width: 576px) {
  .form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 16px;
    height: 70px;
    width: 460px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }

.rowInput{
    justify-content: center;
  }

.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
  height: 340px;
  width: 360px;
  margin-left: 95px;
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
}

.cardImage{
 height: 280px;
 width: 100%;
}
 
.contenedorCards{
  justify-content: center;
  text-align: center;  
}

  
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 16px;
    height: 70px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }

.rowInput{
    justify-content: center;
  }

.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
  height: 360px;
  width: 380px;
  
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
}

.cardImage{
 height: 280px;
 width: 100%;
}
 
.contenedorCards{
  justify-content: center;
  text-align: center;  
}

}

@media only screen and (max-width: 991px) {
  .form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 16px;
    height: 70px;
    width: 400px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }

.rowInput{
    justify-content: center;
  }

.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
  height: 360px;
  width: 380px;
  
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
}

.cardImage{
 height: 280px;
 width: 100%;
}
 
.contenedorCards{
  justify-content: center;
  text-align: center;  
}

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

  .form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 17px;
    height:150px;
    width: 200px;
    flex-direction: column;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }


.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
  border-radius: 10px;
  height: 160px;
  width: 190px;
  margin-left:40px;
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
}

.cardImage{
 height: 120px;
 width: 160px;
}
}

@media only screen and (min-width: 1098px) {
  .form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 17px;
    height:150px;
    width: 200px;
    flex-direction: column;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }


.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
  border-radius: 10px;
  height: 190px;
  width: 210px;
  margin-left:40px;
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
}

.cardImage{
  height: 130px;
  width: 170px;
}
}

@media only screen and (min-width: 1184px) {
  .form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 17px;
    height:150px;
    width: 200px;
    flex-direction: column;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }


.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
  border-radius: 10px;
  height: 200px;
  width: 230px;
  margin-left:40px;
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
}

.cardImage{
  height: 155px;
  width: 210px;
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1358px) {
  .form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 17px;
    height:150px;
    width: 200px;
    flex-direction: column;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }


.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
  border-radius: 10px;
  height: 200px;
  width: 250px;
  margin-left:40px;
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
}

.cardImage{
 height: 150px;
 width: 210px;
}
}


@media only screen and (min-width: 1404px) {
  .form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 17px;
    height:150px;
    width: 200px;
    flex-direction: column;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }


.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
  border-radius: 10px;
  height: 210px;
  width: 260px;
  margin-left:40px;
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
}

.cardImage{
 height: 160px;
 width: 220px;
}
}

@media only screen and (min-width: 1591px) {
  .form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 17px;
    height:150px;
    width: 200px;
    flex-direction: column;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }


.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
  border-radius: 10px;
  height: 240px;
  width: 290px;
  margin-left:40px;
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
}

.cardImage{
 height: 190px;
 width: 250px;
}
}

@media only screen and (min-width: 1639px) {
  .form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 17px;
    height:150px;
    width: 200px;
    flex-direction: column;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }


.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
  border-radius: 10px;
  height: 260px;
  width: 310px;
  margin-left:40px;
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
}

.cardImage{
 height: 210px;
 width: 270px;
}
}

@media only screen and (min-width: 1743px) {
  .form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 17px;
    height:150px;
    width: 200px;
    flex-direction: column;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }


.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
  border-radius: 10px;
  height: 280px;
  width: 330px;
  margin-left:40px;
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
}

.cardImage{
 height: 230px;
 width: 290px;
}
}