
.form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 17px;
    height: 180px;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }

.rowInput{
    color: #bc2626;
  }

.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
  
}

.cardImage{
 height: 220px;
 width: 100%;
}

/*--------------------------------- beigining of map*/
.map_box{
  display: flex;
  justify-content: center;
  text-align: center;
  height: 20rem;
  
}





/*--------------------------------- end of map*/

@media only screen and (max-width: 600px) {

  .form_empresas_container{
    border-radius: 5%;
    background-color: #FFC3C3;
    box-shadow: 0px 5px 10px 0px rgb(59, 61, 61);
    font-size: 17px;
    height: 160px;
    width: 30%;
}

.inputSearch[type="radio"]:checked + label{
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]:checked{
    background-color: #C62828;
    box-shadow: 0 0 5px red;
    border: #C62828;
    font-weight: bold;
  }

.inputSearch[type="radio"]{
    border: 1px solid #C62828;
  }

.rowInput{
    color: #bc2626;
  }

.bodyCard{
    background-color: #C62828;
    color: white;
    font-size: 13px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 50px;
}
.cardRestaurante{
  border-radius: 10px;
  height: 350px;
  width: 380px;
  margin-left:70px;
  
}

.btn-star:hover {
  color: yellow;
}

.btn-star{
  font-size: 13px;
  color: white;
}

.busquedaEmpresas{
  width: 100%;
  justify-content: center;
}

.cardImage{
 height: 280px;
 width: 100%;
}
 
.contenedorCards{
  justify-content: center;
  text-align: center;
  
}

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}