.login_page_container{
    background: radial-gradient(at right,#C62828, #FFFFFF);
    background-position: 30%;
    display: flex;
    justify-content: center;
}
.signup_all{
    border-radius: 2rem;
    background-color: #FFFFFF;
    display: flex;
    justify-content: end;
}
.logo_container{
    align-items: center;
    justify-content:center;
    border-radius: 2rem;
    background-color: #C62828;
    opacity: 0.92;
    height: 100%;
}
.logo{
    transform: rotate(-90deg);
}

/* .form_container{
    display: flex;
    flex-direction: column;
    text-align: start;
    
}
.form-check{
    color: #C62828;
} */ 
.submit:hover{
    
    background-color: #7A7676;
    color: black;
}

@media only screen and (max-width: 600px) {

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}